.bgWrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  /* background-position: center; */
}

.bgText {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 0%;
}